# JWT Secret
JWT_SECRET="your_jwt_secret"

# Can Add Multiple Admins By Adding Commas
ADMIN_EMAILS="admin@example.com"

# MongoDB Database
DATABASE_URL="mongodb+srv://<username>:<password>@cluster0.mongodb.net/grocery-delivery?retryWrites=true&w=majority"

# Cloudinary
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"

# Inngest
INNGEST_EVENT_KEY="your_inngest_event_key"
INNGEST_SIGNING_KEY="your_inngest_signing_key"

# SMTP Credentials
SENDER_EMAIL="your_sender_email"
SMTP_USER="your_smtp_user"
SMTP_PASS="your_smtp_pass"

# Stripe Credentials
STRIPE_SECRET_KEY="your_stripe_secret_key"
STRIPE_WEBHOOK_SECRET="your_stripe_webhook_secret"
